<!-- Need a page that let's the barber see upcoming appointments, make notes on particular client -->

<div ng-controller="barbersController">

<h3>Barber</h3>
		<table id="barbersTable">
			<tr>
				<th>Barber</th>
				<th>Location</th>
				<th>Phone</th>
			</tr>
			<tr>
				<td>{{barber.name}}</td>
				<td>{{barber.data.location}}</td>
				<td>{{barber.data.phone}}</td>
			</tr>
		</table>
</div>


<!-- <div>
		<h3>Barber Profile</h3>

		<table width=400px>
			<tr>
				<th>Barber</th>
				<th>Location</th>
				<th>Phone</th>
			</tr>
			<tr>
				<td>Bill Barber</td>
				<td>Burbank</td>
				<td>213-555-1212</td>
			</tr>
		</table>
</div> -->
