<div class="container">
<img class="center-align responsive-img" src="assets/mean.png"/>
</div>
<div
<p class="flow-text">
<b>Artisan mumblecore selvage jean shorts</b>, crucifix yr normcore. Aesthetic artisan chicharrones umami. <b>Cliche cornhole wayfarers</b>, fingerstache <b>sustainable fanny pack</b> tumeric poutine sartorial portland. Narwhal scenester pickled vape, williamsburg kickstarter iceland roof party <b>you probably haven't heard of them.</b> Hella drinking vinegar pop-up 8-bit, <b>gluten-free</b> iPhone pour-over unicorn polaroid pickled PBR&B +1 chicharrones tilde ramps. Brooklyn retro man braid, deep v stumptown cold-pressed single-origin coffee direct trade irony ennui butcher mixtape. <b>Hella VHS activated charcoal</b> tousled, asymmetrical farm-to-table <b>la croix</b> knausgaard kickstarter actually.
</p>
</div>
