<div ng-controller="barbersController">
  <div class="card-panel">
  <div class="input-field">
    <input id="search" type="text" ng-model='search'>
    <label for="search">Search for a barber</label>
  </div>
</div>

  <table class="striped responsive-table centered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Phone</th>
        <th>Appointment</th>
      </tr>
  </thead>
    <tr ng-repeat="barber in barbers | orderBy: 'name' | filter : search">
      <td><a href="#barber/{{barber._id}}">{{barber.name}}</a></td>
      <td>{{barber.location}}</td>
      <td>{{barber.phone}}</td>
      <td><a href="/#/addAppointment/{{barber._id}}">Add Appt</a></td>
    </tr>
  </table>
</div>
