<div ng-controller="barbersController">
  <div class="card-panel">
  <div class="input-field">
    <input id="search" type="text" ng-model='search'>
    <label for="search">Search for a barber</label>
  </div>
</div>

  <table class="striped responsive-table centered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Phone</th>
        <th>Appointment</th>
      </tr>
  </thead>
    <tr ng-repeat="barber in barbers | orderBy: 'name' | filter : search">
      <td><a href="#barber/{{barber._id}}">{{barber.name}}</a></td>
      <td>{{barber.location}}</td>
      <td>{{barber.phone}}</td>
      <td><a href="/#/addAppointment/{{barber._id}}">Add Appt</a></td>
    </tr>
  </table>
</div>

<br>

<style>
/*    mini map styling,  */
  #map {
    height: 400px;
    width: 100%;
  }
  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
</style>

<div class="row">
  <div class="col s8 offset-s2">
    <div id="map"></div>
      <label>Find a barber near you: <input id="pac-input" class="controls" type="text" placeholder="Find another barber"></label>
    </div>
  </div>
</div>

<p class="center-align"><a href="#/addBarber">Add a new barber</a></p>
