<div>
  <div ng-contoller="usersController">
    <div id="userInfo">
      <p>{{user.name}}</p>
      <p>{{user.phone}}</p>
      <p>{{user.zip}}</p>
    </div>
  </div>
  <div ng-controller="barbersController">
    <h1>Nearby Barbers</h1>
    <table>
      <tr>
        <th>Barbers Name</th>
        <th>Location</th>
        <th>Phone</th>

      </tr>
      <tr ng-repeat="barber in barbers"><!-- add ng-repeat take hard code out-->
        <td>{{barber.name}}</td>
        <td>{{barber.location}}</td>
        <td>{{barber.phone}}</td>
      </tr>
    </table>
  </div>
</div>
