      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="http://www.fillmurray.com/200/400" alt="" class="responsive-img valign"> <!-- notice the "circle" class -->
              <p class="center-align">"You look good."</p>
            </div>
            <div class="col s10">
              <span class="black-text">
                <table>
                <tr>
                  <th class="right">User</th>
                  <td>{{user.name}}</td>
                </tr>
                <tr>
                  <th class="right">Email</th>
                  <td>{{user.email}}</td>
                </tr>
                <tr>
                  <th class="right">Phone</th>
                  <td>{{user.phone}}</td>
                </tr>
                <tr>
                  <th class="right">ZIP</th>
                  <td>{{user.zip}}</td>
                </tr>
              </table>
              </span>
            </div>
          </div>
        </div>
      </div>

<br>

<div class="row">
<div class="col s6 push-s3" ng-controller='appointmentsController'>
  <table>
    <thead>
      <th><h5>Your appointments</h5></th>
    </thead>
    <tbody>
      <tr ng-repeat='appt in appointments | filter : $scope.user'>
      <td>{{appt.date | date : shortDate}} at
        <span ng-if='appt.time < 12'>{{ appt.time }} AM</span>
        <span ng-if='appt.time = 12'>{{ appt.time }} PM</span>
        <span ng-if='appt.time >= 13'>{{ appt.time - 12 }} PM</span>
      </td>
      <td><a href="/#/appointments/{{ appt._id }}">Delete Appointment</a></td>
    </tbody>
  </table>
</div>
</div>


<!-- <div>
  <div ng-contoller="usersController">
    <div id="userInfo">
      <img class="responsive-img" src="http://www.fillmurray.com/g/300/400">
      <p>Client: {{user.name}}</p>
      <i class="material-icons prefix">phone</i> {{user.phone}}
      <p>Zipcode: {{user.zip}}</p>
    </div>
  </div>
</div>
 -->
